<template>
  <form @submit.prevent="handleSubmit">
      <input type="email" placeholder="email" v-model="email">
      <input type="password" placeholder="password" v-model="password">
      <button type="submit">signup</button>
  </form>
</template>

<script>
import axios from 'axios';
export default {
    data(){
        return {
            email:'',
            password:''
        }
    },
    methods:{
        handleSubmit:function(){
            console.log(this.email)
            console.log(this.password)
// const formData = new FormData();
// formData.append('email',this.email);
// formData.append('password',this.password);
            axios.post('http://localhost:8000/api/users/signup',{email:this.email,password:this.password}).then(res=>{
                console.log(res)
                // const token = res.data.token
                // localStorage.setItem('token',token);
                }).catch(err=>{
                    console.log(err)
                })
        }
    }
}
</script>

<style>

</style>